{% extends "dashboard_base.html" %}
{% load static %}
{% block title %}All Jobs | JobMate {% endblock %}
{% block content %}

<!-- HEADER -->
<div class="heading-section d-flex flex-column justify-content-between flex-md-row">
  <div class="row">
    <h1 class="section-title">All Jobs</h1>
    <p class="section-subtitle">
      Manage all property Maintenance jobs accross the system
    </p>
  </div>

  <!-- Create Job Button -->
  <!-- Only show edit and delete buttons if logged in as Admin -->
  {% if request.user.is_authenticated and request.user.profile.role == "Admin" %}
  <a href="{% url 'jobs:create_job' %}"
    class="btn btn-primary shadow-cta d-flex align-items-center justify-content-center h-50 mt-3">
    <i class="bi bi-plus-lg me-2"></i>Create Job
  </a>
  {% endif %}
</div>

<!-- FILTERS -->
<div class="filter-container d-flex flex-grow-1 flex-column justify-content-between flex-md-row gap-3 mb-4">

  <!-- Search bar -->
  <div class="search-col col-8">
    <p class="section-subtitle">Search Jobs</p>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search jobs..." />
      <!-- Search Button -->
      <button class="btn btn-secondary text-muted">
        <i class="bi bi-search me-1"></i>Search
      </button>
    </div>
  </div>

  <!-- Status Dropdown -->
  <div class="col">
    <p class="section-subtitle">Status</p>
    <select class="form-select">
      <option value="">All Status</option>
      <option value="active">Active</option>
      <option value="inactive">Inactive</option>
    </select>
  </div>
</div>

<!--MESSAGES TO DISPLAY -->
{% for message in messages %}
{% if message.tags == "error" %}
<div class="alert alert-danger alert-dismissible fade show my-2" role="alert">
  {% else %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-2" role="alert">
    {% endif %}
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  {% endfor %}

  <!-- JOB LIST -->
  <div>
    <div class="table-container">
      <div class="table-header">All Jobs ({{ job_list.count }})</div>
      <div class="table-responsive p-2">
        <table class="table align-middle mb-0">
          <!-- Table Head -->
          <thead class="table-head">
            <tr>
              <th>Job Title #</th>
              <th>Address</th>
              <th>Engineer</th>
              <th>Priority</th>
              <th>Status</th>
              <th>Payment</th>
              <th>Created</th>
              <th>Actions</th>
            </tr>
          </thead>

          <!-- Table Body -->
          <tbody>
            <!-- Job Row -->
            {% for job in job_list %}
            <tr>
              <td data-label="Job Title">
                <strong>{{ job.job_title}}</strong><br /><small class="text-muted">#JOB-{{ job.id }}</small>
              </td>
              <td data-label="Address">{{ job.address }}, {{ job.city }}, {{ job.post_code }}</td>
              <td data-label="Engineer">{{ job.assigned_engineer.first_name }} {{ job.assigned_engineer.last_name }}
              </td>
              <td data-label="Priority">
                <span class="badge badge-rounded badge-high">{{ job.get_priority_display }}</span>
              </td>
              <td data-label="Status">
                <span class="badge badge-rounded badge-progress">{{ job.get_status_display }}</span>
              </td>
              <td data-label="Payment">
                <span class="badge badge-rounded bg-light text-secondary">—</span>
              </td>
              <td data-label="Created">{{ job.created_at}}</td>
              <td data-label="Actions">
                <div class="d-flex flex-row justify-content-around">
                  <a href="{% url 'jobs:job_detail' %}" class="text-secondary me-2"><i class="bi bi-eye"></i></a>
                  <!-- Only show edit and delete buttons if logged in as Admin -->
                  {% if request.user.is_authenticated and request.user.profile.role == "Admin" %}
                  <a href="{% url 'jobs:edit_job' %}" class="text-primary me-2"><i class="bi bi-pencil"></i></a>
                  <a href="{% url 'jobs:delete_job' %}" class="text-danger"><i class="bi bi-trash"></i></a>
                  {% endif %}
                </div>
              </td>
            </tr>
            <!-- If empty rows ie no jobs display message -->
            {% empty %}
            <tr>
              <td colspan="8" class="text-danger">No jobs found!</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% endblock %}