{% extends "dashboard_base.html" %} {% load static %} {% block title %}All
Create New Job | JobMate{% endblock %} {% block content %}

<div class="container-lg flex-grow-1 d-flex flex-column">

  <!-- HEADER -->
  <div class="heading-section">
    <div class="d-flex align-items-center gap-3 mb-3">
      <div class="icon">
        <i class="bi bi-plus-lg"></i>
      </div>
      <div>
        <h1 class="section-title">Create New Job</h1>
        <p class="section-subtitle m-0">
          Fill out the form below to create a new maintenance job
        </p>
      </div>
    </div>
  </div>

  <!-- JOB DETAILS -->
  <div class="container-lg m-0 p-0">
    <div class="card shadow-sm border-0 rounded-4">
      <div class="card-header py-3 rounded-top-4">
        <i class="bi bi-briefcase-fill me-2"></i>Job Details
      </div>

      <!-- FORM -->
      <form class="card-body p-4" method="POST">
        {% csrf_token %}
        <div class="row g-3">

          <!-- Job Title -->
          <div class="col-md-6">
            <label class="form-label">Job Title<span class="text-danger">*</span></label>
            {{ create_job_form.job_title}}
            {{ create_job_form_title.errors }}
          </div>

          <!-- Property Owner -->
          <div class="col-md-6">
            <label class="form-label">Property Owner<span class="text-danger">*</span></label>
            {{ create_job_form.property_owner}}
          </div>

          <!-- Address -->
          <div class="col-4">
            <label class="form-label">Address<span class="text-danger">*</span></label>
            {{ create_job_form.address}}
          </div>

          <!-- City -->
          <div class="col-md-4">
            <label class="form-label">City<span class="text-danger">*</span></label>
            {{ create_job_form.city}}
          </div>

          <!-- Post Code -->
          <div class="col-md-4">
            <label class="form-label">Post Code<span class="text-danger">*</span></label>
            {{ create_job_form.post_code}}
          </div>

           <!-- Tenant Name -->
          <div class="col-md-4">
            <label class="form-label">Tenant Name<span class="text-danger">*</span></label>
            {{ create_job_form.tenant_name}}
          </div>

           <!-- Tenant Phone -->
          <div class="col-md-4">
            <label class="form-label">Tenant Phone<span class="text-danger">*</span></label>
            {{ create_job_form.tenant_phone}}
          </div>

           <!-- Tenant email -->
          <div class="col-md-4">
            <label class="form-label">Tenant Email<span class="text-danger">*</span></label>
            {{ create_job_form.tenant_email}}
          </div>

          <!-- Priority -->
          <div class="col-md-4">
            <label class="form-label">Priority<span class="text-danger">*</span></label>
            {{ create_job_form.priority}}
          </div>

          <!-- Category -->
          <div class="col-md-4">
            <label class="form-label">Category<span class="text-danger">*</span></label>
            {{ create_job_form.category}}
          </div>

          <!-- Status -->
          <div class="col-md-4">
            <label class="form-label">Status<span class="text-danger">*</span></label>
            {{ create_job_form.status}}
          </div>

          <!-- Description -->
          <div class="col-12">
            <label class="form-label">Description<span class="text-danger">*</span></label>
            {{ create_job_form.description}}
          </div>

          <!-- Due Date -->
          <div class="col-md-6">
            <label class="form-label">Due Date<span class="text-danger">*</span></label>
            {{ create_job_form.due_date}}
          </div>

          <!-- Estimated Hours -->
          <div class="col-md-6">
            <label class="form-label">Estimated Hours</label>
            {{ create_job_form.estimated_hours}}
          </div>

          <!-- Assign Engineer -->
          <div class="col-md-6">
            <label class="form-label">Assign Engineer</label>
            {{ create_job_form.assigned_engineer}}
          </div>

          <!-- Job Cost -->
          <div class="col-md-6">
            <label class="form-label">Job Cost £</label>
            {{ create_job_form.job_cost}}
          </div>

        </div>

        <!-- BUTTONS -->
        <div class="d-flex justify-content-end align-items-center mt-5 gap-3">
          <a href="{% url 'jobs:all_jobs' %}" class="btn btn-light p-2 px-3">
            <i class="bi bi-x-lg me-2"></i>Cancel
          </a>
          <button type="submit" class="btn btn-primary p-2">
            <span>
              <i class="bi bi-plus-lg"></i>
            </span>
            <span>Create Job</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}