.delete-wrapper { 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

.delete-container {
  max-width: 500px; 
  width: 100%;
}

@media screen and (max-width: 768px) {
  .delete-wrapper {
    margin: 30px;
  }
    
}