{% extends "base.html" %}
{% load static %}

{% block title %}Sign-In | JobMate{% endblock %}

{% block body %}
<div class="auth-wrapper">
  <div class="container signup-card shadow-soft border-0">

    <!-- ACCOUNTS HEADER -->
    <div class="accounts-header">
      <div class="hero-icon shadow-tile">
        <i class="bi bi-person-fill"></i>
      </div>
      <h1 class="main-title">Welcome Back</h1>
      <p class="section-subtitle">Please sign in to your JobMate account</p>
    </div>

    <!-- SIGNUP FORM -->
    <form>
      <div class="row g-3">

        <!-- EMAIL -->
        <div class="col-12">
          <label for="email" class="form-label">Email Address</label>
          <input type="email" class="form-control" id="email" placeholder="john.doe@example.com" required>
        </div>

        <!-- PASSWORD -->
        <div class="col-12">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="••••••••" required>
        </div>

        <!-- FORGOT PASSWORD -->
        <div class="col-12">
          <div class="mt-2">
            <a href="#" target="_blank" class="link-underline link-underline-opacity-0">Forgot Password?</a>
          </div>
        </div>

        <!-- SUBMIT BUTTON -->
        <div class="col-12">
          <button type="submit" class="btn btn-primary w-100 shadow-cta pt-3 pb-3">Sign in to JobMate</button>
        </div>

      </div>
    </form>
  </div>
</div>

</main>

{% endblock %}