{% extends "dashboard_base.html" %}
{% load static %}
{% block title %}
Cart | JobMate {% endblock %}
{% block content %}

<!-- HEADER -->
<div class="heading-section d-flex flex-column justify-content-between flex-md-row">
    <div class="row">
        <h1 class="section-title">Cart</h1>
        <p class="section-subtitle">Manage all payments across the system</p>
    </div>
</div>

<!-- MESSAGES -->
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<!-- LOOP THROUGH USER, ITEMS AND CRATE SEPERATE BASKET ITEMS FOR EACH USER -->
{% if user_basket %}
{% for user, data in user_basket.items %}
<p class="card-header p-2 mb-3 rounded-3">Payments for {{ user.first_name }} {{ user.last_name }}
    ({{data.transactions|length }})</p>

<!-- CART LIST -->
<div class="row g-4 mb-4">
    <div class="col-lg-8">
        <div class="table-container h-100">
            <table class="table table-hover align-middle mb-0">

                <!-- Table Head -->
                <thead class="table-header-custom">
                    <tr>
                        <th scope="col">Job ID #</th>
                        <th scope="col">Job Details</th>
                        <th scope="col">Operative</th>
                        <th scope="col">Estimated cost</th>
                        <th scope="col">Adjustments</th>
                        <th scope="col">Actual Cost</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <!-- Job -->
                <tbody class="table-body-custom">
                {% if data.transactions %}
                    {% for transaction in data.transactions %}
                    <tr>
                        <td>{{ transaction.job.id}}</td>
                        <td>
                            <strong>{{ transaction.job.job_title }}</strong><br />
                            <small class="text-muted">{{ transaction.job.address }} {{ transaction.job.city }}
                                {{transaction.job.post_code }}</small>
                        </td>
                        <td>{{ transaction.job.assigned_operative.first_name }}
                            {{transaction.job.assigned_operative.last_name }}</td>
                        <td>£{{ transaction.job.job_cost|floatformat:2 }}</td>
                        <td>£{{ transaction.adjustment|floatformat:2 }}</td>
                        <td>
                            <strong>£{{ transaction.actual_cost }}</strong>
                        </td>
                        <td>
                            <a href="{% url 'cart:job_adjustment' transaction.id %}"
                                class="btn btn-primary custom-button ms-5 mb-1">
                                + Adjustment
                            </a>
                        </td>
                        <td>
                            <!-- DELETE BASKET ITEM BUTTON-->
                            <form method="POST">
                                {% csrf_token %}
                                <!-- Get the item.id but hide it -->
                                <input type="hidden" name="basket_item_id" value="{{ transaction.id }}">
                                <button type="submit" name="delete_btn" class="btn p-0 text-decoration-none">
                                    <i class="bi bi-trash text-danger fs-5"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <!-- If empty rows ie no items display message -->
                    <tr>
                        <td colspan="6" class="text-center text-muted py-4">
                            No items found for this user.
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- ORDER SUMMARY -->

    <div class="col-lg-4">
        <div class="card shadow-sm">

            <div class="card-header">
                <h5 class="mb-0 fs-6 fw-lighter d-flex justify-content-between align-items-center">
                    <span>Order Summary</span>
                    <span class="badge bg-success">{{ data.transactions.0.get_status_display }}</span>
                </h5>
            </div>

            <div class="card-body">
                <div class="d-flex justify-content-between mb-2">
                    <span>Subtotal</span>
                    <p>£{{ data.subtotal|floatformat:2 }}</p>
                </div>

                <div class="d-flex justify-content-between mb-2">
                    <span>Service Fee -15%</span>
                    <p>£{{ data.service_fee|floatformat:2 }}</p>
                </div>

                <div class="d-flex justify-content-between mb-3 border-bottom pb-2">
                    <span>VAT 20%</span>
                    <p>£{{ data.vat|floatformat:2 }}</p>
                </div>

                <div class="d-flex justify-content-between mb-3">
                    <span class="fw-bold">Total</span>
                    <strong>£{{ data.total|floatformat:2 }}</strong>
                </div>
                {% if request.user.is_authenticated and request.user.profile.role == "Admin" %}
                <button class="btn btn-primary w-100 mb-2">Proceed to Checkout</button>
                <p class="text-center text-muted small mb-0">
                    Secure payment processing.
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<hr class="bg-danger">
<br>
{% endfor %}

{% else %}
<!-- GLOBAL EMPTY STATE -->
<div class="alert alert-light text-center py-5">
    <i class="bi bi-cart-x fs-1 text-muted mb-3 d-block"></i>
    <h5 class="text-muted mb-1">Your basket is empty</h5>
    <p class="small text-muted mb-0">
        Completed jobs will appear here for payment.
    </p>
</div>
{% endif %}

{% endblock %}