.table-header-custom th {
    background-color: var(--jm-blue-700) !important;
    color: var(--jm-default) !important;
}
.table-header-custom th {
    font-size: small;
    font-weight: 200;
    text-align: center;
}

.table-body-custom td {
    text-align: center;
}

.custom-button {
    font-size: small;
    font-weight: 100;
    padding: 0.5 1.5rem 0.5rem 1.5rem;
}

.delete-btn {
    cursor: pointer;
    border: none;
    background: none;
}